.splash.login-splash
  .con.main-con
    %h2.login-head Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .login-input
        = f.label :email, id: 'sign-up-label-a'
        = f.email_field :email, autofocus: true, id: 'sign-up-email'
      .login-input
        = f.label :password, id: 'sign-up-label-b'
        = f.password_field :password, autocomplete: "off", id: 'sign-up-password'
      .login-input
        = f.label :password_confirmation, id: 'sign-up-label-c'
        = f.password_field :password_confirmation, autocomplete: "off", id: 'sign-up-confirmation'
      .actions
        = f.submit "Sign up", class: 'button -blue btn-width'
= render "devise/shared/links"
